.create {
  padding: 30px 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.create--dark {
  background-color: black;
}

.create__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create__logo .twitter {
  color: var(--twitter);
  width: 3rem;
  height: 3rem;
}

.create__logo .twitter--dark {
  color: white;
}

.create__acc {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create__acc .switch {
  margin-left: auto;
}

.create__acc .switch--dark {
  color: white;
}

.create__acc .title {
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
}

.create__acc .title--dark {
  color: white;
}

.create form {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.create form input {
  width: 100%;
  height: 60px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.create form input:focus {
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.create form input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.create form input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.create form input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.create form input::placeholder {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.create form .name {
  margin-top: 3rem;
  color: white;
}

.create form .name__error {
  margin-top: 5px;
  color: crimson;
}

.create form .name--dark {
  border: 1px solid rgba(254, 254, 254, 0.678);
  background: transparent;
}

.create form .name--dark::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.637);
}

.create form .name--dark:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.637);
}

.create form .name--dark::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.637);
}

.create form .name--dark::placeholder {
  color: rgba(255, 255, 255, 0.637);
}

.create form .name--dark:focus {
  border: 2px solid rgba(253, 253, 253, 0.699);
}

.create form .number {
  margin-top: 2rem;
}

.create form .number__error {
  margin-top: 5px;
  margin-bottom: 2rem;
  color: crimson;
}

.create form .number--dark {
  border: 1px solid rgba(254, 254, 254, 0.678);
  background: transparent;
  color: white;
}

.create form .number--dark::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.637);
}

.create form .number--dark:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.637);
}

.create form .number--dark::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.637);
}

.create form .number--dark::placeholder {
  color: rgba(255, 255, 255, 0.637);
}

.create form .number--dark:focus {
  border: 2px solid rgba(253, 253, 253, 0.699);
}

.create a {
  font-size: 16px;
  line-height: 24px;
  color: #1DA1F2;
}

.create__date {
  margin-top: 3rem;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.create__date--dark {
  color: white;
}

.create .lorem {
  margin-top: 1rem;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
}

.create .lorem--dark {
  color: white;
}

.create__selects {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
}

.create__selects select {
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 20px;
}

.create__selects select:focus {
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.create__selects .month {
  width: 50%;
}

.create__selects .month--dark {
  border: 1px solid rgba(254, 254, 254, 0.678);
  background: transparent;
}

.create__selects .month--dark::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.637);
}

.create__selects .month--dark:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.637);
}

.create__selects .month--dark::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.637);
}

.create__selects .month--dark::placeholder {
  color: rgba(255, 255, 255, 0.637);
}

.create__selects .month--dark:focus {
  border: 2px solid rgba(253, 253, 253, 0.699);
}

.create__selects .month--dark option {
  color: rgba(255, 255, 255, 0.801);
}

.create__selects .day {
  width: 23%;
}

.create__selects .day--dark {
  border: 1px solid rgba(254, 254, 254, 0.678);
  background: transparent;
}

.create__selects .day--dark::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.637);
}

.create__selects .day--dark:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.637);
}

.create__selects .day--dark::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.637);
}

.create__selects .day--dark::placeholder {
  color: rgba(255, 255, 255, 0.637);
}

.create__selects .day--dark:focus {
  border: 2px solid rgba(253, 253, 253, 0.699);
}

.create__selects .day--dark option {
  color: rgba(255, 255, 255, 0.801);
}

.create__selects .year {
  width: 23%;
}

.create__selects .year--dark {
  border: 1px solid rgba(254, 254, 254, 0.678);
  background: transparent;
}

.create__selects .year--dark::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.637);
}

.create__selects .year--dark:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.637);
}

.create__selects .year--dark::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.637);
}

.create__selects .year--dark::placeholder {
  color: rgba(255, 255, 255, 0.637);
}

.create__selects .year--dark:focus {
  border: 2px solid rgba(253, 253, 253, 0.699);
}

.create__selects .year--dark option {
  color: rgba(255, 255, 255, 0.801);
}
/*# sourceMappingURL=CreateAcc.css.map */