.btn {
    background: #1DA1F2;
    border-radius: 50px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 17px;
    line-height: 24px;

    padding: 15px;
}